.section-mem {
    height: 600px;
    background-color: #000;
    position: relative;
  }
  .wrapper-m {
    width: 1280px/1367px * 100%;
    max-width: 1367px;
    margin: 0 auto;
  }
  .slider{
      width: 1000px;
      height: 500px;
      overflow: hidden;    
  }
  .center{
      position: absolute;
      top: -32.5%;
      left: 50%;
      transform: translate(-50%, 50%);
  }
  .navigation{
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
  }
  .bar{
      opacity: .4;
      border-radius: 12px;
      transition: all .4s ease;
  
      height:12px;
      width: 32px;
      margin: 5px;
      cursor: pointer;
      background-color: #ff009e;
  }
  .bar:hover{
      opacity: 1;
      transform: scale(1.1);
  }
  input[name="r"] {
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
      width: 400%;
      height: 100%;
      display: flex;
  }
  .slide{
      width: 25%;
      transition: all .6s ease;   
  }
  .slide img{
      width: 100%;
      height: 100%;
  }
  
  #rad1:checked ~ .div1 {
      margin-left: 0;
  }
  
  #rad2:checked ~ .div1 {
      margin-left: -25%;
  }
  
  #rad3:checked ~ .div1 {
      margin-left: -50%;
  }
  
  #rad4:checked ~ .div1 {
      margin-left: -75%;
  }
  
  .slides input {
      display: none;
  }
  @media(max-width: 1200px){
      .center {
          position: relative;
          top: auto;
          left: auto;
          transform: initial;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          padding-top: 5%;
      }
  }